@page
@model IndexModel
@{
    ViewData["Title"] = "Curriculo - Eduardo Dé Sá Abrahão";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>@ViewData["Title"]</title>
</head>

    <div class="container">
        <div class="text-center">
        <img src="/Imagens/eu.jpg" alt="Foto de Eduardo Dé Sá Abrahão" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
            <h1 class="display-4">Bem-vindo, Currículo de Eduardo Dé Sá Abrahão</h1>
            <p><a href="https://github.com/Abrahao02?tab=repositories">Github</a></p>
        </div>

        <div class="mt-5">
            <h2>Sobre Mim</h2>
            <p>
                Brasil, Rio de Janeiro, Rio de Janeiro
             </p>
            <p>
                Idade: set/2002
            </p>
        </div>

        <div class="mt-5">
            <h2>Educação</h2>
            <p>
                Instituto Infnet - Engenharia de Software- em andamento, 2020-2024, Noturno 
            </p>
            <p>
                Cultura Inglesa - Ingles Avançado
            </p>
        </div>

        <div class="mt-5">
            <h2>Experiência Profissional</h2>
            <p>Nome da Empresa - Cargo - Período</p>
        </div>

        <div class="mt-5">
            <h2>Habilidades Técnicas</h2>
            <ul>
                <li>Linguagens que sou familiarizado:</li>
                <li>Desenvolvimento Android (Kotlin)</li>
                <li>Desenvolvimento Front-end com Frameworks (React, React Native)</li>
                <li>Desenvolvimento Back-End (Java, C#)</li>
                <li>Desenvolvimento Web (HTML, CSS, JavaScript)</li>
            </ul>
        </div>


        <div class="mt-5">
            <h2>Projetos Pessoais</h2>
            <ul>
                <li>
                    Projeto em Java: Aplicativo de Receitas (CRUD) para Android com Firebase (Auth e Banco de Dados).
                    <a href="https://github.com/Abrahao02/ReceitaAplicativoAndroid">Github</a>
                </li>
                <li>
                    Projeto Web: Site de Vendas de Skins CS (Responsivo) - C# (CRUD).
                    <a href="https://github.com/Abrahao02/CS2SKINWebApplication">Github</a>
                </li>
            </ul>
        </div>
        
        <div class="mt-5">
            <h2>Contato</h2>
            <p>Email: eduardo.abrahao@hotmail.com</p>
            <p>Telefone: (21) 99437-7887</p>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/seu-linkedin">Linkedin</a></p>
            <p>eduardo.abrahao@hotmail.com</p>
        </div>

    </div>

